<h1>Mostrando detalles del Articulo</h1>
<%# render es un snippet para estas llaves %>
<p><strong>Title: </strong> <%= @article.title%> </p>
<p><strong>Description:  </strong> <%= @article.description%> </p>
